{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div class="column is-4 is-offset-4">
  <h3 class="title">Upload File</h3>
  <div class="block">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <div class="field">
          <div id="file-js-upload" class="file is-centered is-medium is-boxed has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="upload">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
          </div>
        </div>
        
        <div class="field">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>
      </form>
  </div>
</div>

<script>
  const fileInput = document.querySelector('#file-js-upload input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-upload .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
{% endblock %}